.container-city {
  flex: 1;
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

table,
  table td {
    border: 1px solid #cccccc;
  }
  td {
    height: 50px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
  }