.navBar a {
  color: $title;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 1000;
  display: inline-block;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.6s ease-in-out;
  padding-right: 10px;
}

.navBar a:hover {
  color: $hover;
}