.form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
}

.button {
  color: $white;
  padding: 5px;
  width: 20%;
}

.button-icon {
  color: $icon;
  padding: 5px;
  border-width: 0px;
  margin-left: 20px;
  cursor: pointer;
}

.button-icon a:hover {
  color: $hover;
}

.text-input {
  color: $white;
  font-size: 16px;
  width: 20%;
  padding: 5px;
  margin-bottom: 20px;
  border-width: 0px;
  border-bottom-width: 1px;
}