<template>
  <nav class="navMenu">
    <a><router-link to="/" > Inicio </router-link></a>
    <a><router-link to="/city" > Ciudades</router-link></a>
    <a><router-link to="/route" > Rutas</router-link></a>
    <router-view></router-view>
  </nav>
</template>

<style>
  .navMenu a {
    color: #17202a;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 1000;
    display: inline-block;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.6s ease-in-out;
    padding-right: 10px;
  }

  .navMenu a:hover {
    color: #999011;
  }
</style>