<script>
  import Navbar from './components/NavBar/';
  export default {
    components:{
      Navbar
    }
  }
</script>

<template>
  <Navbar/>
</template>

<style>
  * {
    background-color: black;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #2c3e50;
    padding: 20px;
  }
</style>
