#city_template
  .container-city
    div
      table
        tr
          th Nombre
          th Descripcion
          th Accion
        tbody(v-for="city in data")
            tr
              td {{ city.name }}
              td {{ city.description }}
              td
                button.button-icon(v-on:click="remove(city)")
                  a
                    fa(icon="trash")
    div.form
      label.label(for="name") Nombre
      input.text-input(id="name" v-model="this.city.name" placeholder="Nombre")

      label.label(for="description") Descripcion
      input.text-input(id="description" v-model="this.city.description" placeholder="Descripcion")

      button.button(v-on:click="create()") Crear Ciudad